@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.TodoList {
  width: 100%;
  margin: 0;
  padding: 10px 25px;
  background-color: #fff;
  color: #000305;
  border-width: 2px;
  border-style: solid;
  border-color: #60a3bc;
  list-style-type: none;
}

.TodoList li::before{
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
  border-radius: 50%;
  border-color: #60a3bc;
  border-style: solid;
  border-width: 2px;
}

.TodoList li:hover::before {
  background-color: #60a3bc;
}
